.badge.up{
    top:-20px ;
}
.navbar .avatar img{
    width: 80%;
    margin-top: 15%;
}
.navbar-inverse .navbar-toolbar .nav-link:focus, .navbar-inverse .navbar-toolbar .nav-link:hover{
    height: 100%;
}
.navbar-right .dropdown-menu{
    right:5px;
}
.modal-title{
    margin-top: 5px;
}
.modal-header .close{
    padding:10px 15px 10px 15px;
    margin-top: -5px !important;
}
.card-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.14) !important;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02) !important;*/
}
.avatar-square{
    border-radius: 0 !important;
}
.avatar-square img{
    border-radius: 0 !important;
    width: 80%;
    margin: 10%;
}
.alertify .alert nav, .alertify .dialog nav .ok{
    color:#f44336 !important;
    border-color: transparent !important;
}
